  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>REE/TEE Calculator</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

      <script>
        $(function () { 
          $('[data-toggle="tooltip"]').tooltip() 
        })
      </script>

    </head>
    <body>

      <div class="container">
        <h1>Calculate REE and TEE</h1>
        <h5>REE stands for "Resting Energy Expenditure," or the number of calories (kcal) required by the body at rest. Total Energy Expenditure (TEE) takes into account one's activity level and (if applicable) desired weight loss per week. This app was built using the Mifflin-St. Jeor equation.</h5>

  <form action="/">
    	<p class="form-group">
    		<label>Height (inches): <input class="form-control" name="height" value="<%= params[:height] %>"/></label> 
    	</p>
    	<p class="form-group">
  		  <label>Weight (pounds): <input class="form-control" name="weight" value="<%= params[:weight] %>"/></label>
      </p>
      <p class="form-group">
      	<label>Age (years): <input class="form-control" name="age" value="<%= params[:age] %>"/></label>
    	</p>
    	<p>
    		<b>Sex:</b>
    		<div class="radio">
          <label>
            <input type="radio" value="male" name="sex" <%= "checked" if params[:sex] == "male" %> />
            Male
          </label>
        </div>
        <div class="radio">
    		  <label>
            <input type="radio" value="female" name="sex" <%= "checked" if params[:sex] == "female" %> />
            Female
          </label>
        </div>
    	</p>
    	<p>
    		<b>Activity level:</b>
    		<div class="radio">
          <label>
            <input type="radio" value="1.3" name="activity_factor" <%= "checked" if params[:activity_factor] == "1.3" %> />
            Sedentary
          </label>
        </div>
        <div class="radio">
    		  <label>
            <input type="radio" value="1.5" name="activity_factor" <%= "checked" if params[:activity_factor] == "1.5" %> />
            Moderately active
          </label>
        </div>
        <div class="radio">
    		  <label>
            <input type="radio" value="1.7" name="activity_factor" <%= "checked" if params[:activity_factor] == "1.7" %> /> 
            Very active
          </label>
        </div>
    	</p>
    	<p>
    		<b>Targeted weight loss per week:</b>
        <div class ="radio">
          <label>
            <input type="radio" value="0" name="weight_loss" <%= "checked" if params[:weight_loss] == "0" %> />
            None
            </label>
        </div>
    		<div class="radio">
          <label>
            <input type="radio" value="1" name="weight_loss" <%= "checked" if params[:weight_loss] == "1" %> />
            1 lb
          </label>
        </div>
    		<div class="radio">
          <label>
            <input type="radio" value="1.5" name="weight_loss" <%= "checked" if params[:weight_loss] == "1.5" %> />
            1.5 lb
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" value="2" name="weight_loss" <%= "checked" if params[:weight_loss] == "2" %> />
            2 lb
          </label>
        </div>
    	</p>
    	<p>
    	 <button class="btn btn-primary">Calculate</button> 
       <a href="http://ree-calculator.herokuapp.com" class="btn btn-primary">Start Over</a>
    	</p>
  </form>

  <% if params[:height].nil? == false && params[:weight_loss] != "0" %>
    <p>
      REE = <%= @ree %> kcal
    </p>
    <p>
      TEE = <%= @tee %> kcal/day to lose <%= @weight_loss %> lb per week.
    </p>

    <div>  
      <table class="table table-hover table-bordered">
    	 <tr>
    	   <th colspan="2"><br><h4>Calorie Needs as Weight is Lost</h4>
    	   </th>
    	 </tr>
    	 <tr>
    		  <th>Weight lost</th>
    		  <th>Calorie needs (kcal/day)</th>
    	 </tr>
    	   <% @kcal_trends.each_with_index do |kcal_needs, pounds_lost| %>
    	 <tr>
        <td><%= pounds_lost %> lb</td>
        <td><%= kcal_needs %></td>
       </tr>
    	<% end %>
    </table>
  </div>
  <% elsif params[:height].nil? == false && params[:weight_loss] == "0" %>
    <p>
    REE = <%= @ree %> kcal
    </p>
    <p>
    TEE = <%= @tee %> kcal/day to maintain weight.
    </p> 
    <% end %>
  </body>
</html>