  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>REE/TEE Calculator</title>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

      <script $(function () {$ ('[data-toggle="tooltip"]').tooltip() })

    </head>
    <body>

      <div class="container">
  <h1>Calculate REE and TEE</h1>

  <form action="/">
    	<p class="form-group">
    		<label>Height (inches): <input class="form-control" name="height" value="<%= params[:height] %>"/></label> 
    	</p>
    	<p class="form-group">
  		  <label>Weight (pounds): <input class="form-control" name="weight" value="<%= params[:weight] %>"/></label>
      </p>
      <p class="form-group">
      	<label>Age (years): <input class="form-control" name="age" value="<%= params[:age] %>"/></label>
    	</p>
    	<p>
    		Sex:
    		<label class="radio-inline"><input type="radio" value="male" name="sex" <%= "checked" if params[:sex] == "male" %> /> Male</label>
    		<label class="radio-inline"><input type="radio" value="female" name="sex" <%= "checked" if params[:sex] == "female" %> /> Female</label>
    	</p>
    	<p>
    		Activity level:
    		<label class="radio-inline" data-toggle="tooltip" data-placement="top" title="No activity outside of ADLs"><input type="radio" value="1.3" name="activity_factor" <%= "checked" if params[:activity_factor] == "1.3" %> /> Sedentary</label>
    		<label class="radio-inline"><input type="radio" value="1.5" name="activity_factor" <%= "checked" if params[:activity_factor] == "1.5" %> /> Moderately active</label>
    		<label class="radio-inline"><input type="radio" value="1.7" name="activity_factor" <%= "checked" if params[:activity_factor] == "1.7" %> /> Very active</label>
    	</p>
    	<p>
    		Targeted weight loss per week:
    		<label class="radio-inline"><input type="radio" value="1" name="weight_loss" <%= "checked" if params[:weight_loss] == "1" %> /> 1 lb</label>
    		<label class="radio-inline"><input type="radio" value="1.5" name="weight_loss" <%= "checked" if params[:weight_loss] == "1.5" %> /> 1.5 lb</label>
    		<label class="radio-inline"><input type="radio" value="2" name="weight_loss" <%= "checked" if params[:weight_loss] == "2" %> /> 2 lb</label>
    	</p>
    	<p>
    	<button class="btn btn-primary">Calculate</button> 
    	</p>
  </form>

  <% if params[:height].nil? == false %>
    <p>
      REE = <%= @ree %> kcal
    </p>

    <p>
    TEE = <%= @tee %> kcal/day to lose <%= @weight_loss %> lb per week.
    </p>
  <div>  
    <table class="table table-hover table-bordered">
    	<tr>
    		<th colspan="2"><br><h4>Calorie Needs as Weight is Lost</h4>
    		</th>
    	</tr>
    	<tr>
    		<th>Weight lost</th>
    		<th>Calorie needs (kcal/day)</th>
    	</tr>
    	<% @kcal_trends.each_with_index do |kcal_needs, pounds_lost| %>
    		<tr>
          <td><%= pounds_lost %> lb</td>
      		<td><%= kcal_needs %></td>
      	</tr>
    	<% end %>
    </table>
  <% end %>
  </div>
  </body>
</html>